USE [employees]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 1/25/2021 5:09:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[department_id] [nchar](10) NOT NULL,
	[department_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 1/25/2021 5:09:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[employee_id] [nchar](10) NOT NULL,
	[employee_last_name] [nvarchar](50) NOT NULL,
	[employee_first_name] [nvarchar](50) NOT NULL,
	[role_id] [nchar](2) NOT NULL,
	[date_of_birth] [date] NULL,
 CONSTRAINT [PK_EMPLOYEEE] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLETBL]    Script Date: 1/25/2021 5:09:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLETBL](
	[role_id] [nchar](2) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 1/25/2021 5:09:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAM](
	[team_id] [nchar](5) NOT NULL,
	[team_name] [nvarchar](50) NOT NULL,
	[department_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAM_MEMBER_MANAGEMENT]    Script Date: 1/25/2021 5:09:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAM_MEMBER_MANAGEMENT](
	[team_id] [nchar](5) NOT NULL,
	[employee_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TEAM_MEMBER_MANAGEMENT] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC,
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTMENT] ([department_id], [department_name]) VALUES (N'BANK      ', N'Banking')
INSERT [dbo].[DEPARTMENT] ([department_id], [department_name]) VALUES (N'ECOMMER   ', N'E-commerce')
INSERT [dbo].[DEPARTMENT] ([department_id], [department_name]) VALUES (N'LIFINSUR  ', N'Life insurance')
INSERT [dbo].[EMPLOYEE] ([employee_id], [employee_last_name], [employee_first_name], [role_id], [date_of_birth]) VALUES (N'5000000001', N'Nguyen', N'A', N'01', CAST(N'1970-02-03' AS Date))
INSERT [dbo].[EMPLOYEE] ([employee_id], [employee_last_name], [employee_first_name], [role_id], [date_of_birth]) VALUES (N'5000000002', N'Nguyen', N'B', N'02', CAST(N'1988-06-03' AS Date))
INSERT [dbo].[EMPLOYEE] ([employee_id], [employee_last_name], [employee_first_name], [role_id], [date_of_birth]) VALUES (N'5000000003', N'Nguyen', N'C', N'02', CAST(N'1990-05-06' AS Date))
INSERT [dbo].[ROLETBL] ([role_id], [role_name]) VALUES (N'01', N'Director')
INSERT [dbo].[ROLETBL] ([role_id], [role_name]) VALUES (N'02', N'Department Manager')
INSERT [dbo].[ROLETBL] ([role_id], [role_name]) VALUES (N'03', N'Team Lead')
INSERT [dbo].[TEAM] ([team_id], [team_name], [department_id]) VALUES (N'ACB  ', N'ACB', N'BANK      ')
INSERT [dbo].[TEAM] ([team_id], [team_name], [department_id]) VALUES (N'BRI  ', N'Life Insurance Indonesia', N'LIFINSUR  ')
INSERT [dbo].[TEAM] ([team_id], [team_name], [department_id]) VALUES (N'PUM  ', N'Puma Malaysia', N'ECOMMER   ')
INSERT [dbo].[TEAM_MEMBER_MANAGEMENT] ([team_id], [employee_id]) VALUES (N'ACB  ', N'5000000014')
INSERT [dbo].[TEAM_MEMBER_MANAGEMENT] ([team_id], [employee_id]) VALUES (N'ACB  ', N'5000000015')
INSERT [dbo].[TEAM_MEMBER_MANAGEMENT] ([team_id], [employee_id]) VALUES (N'ACB  ', N'5000000016')
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_ROLE] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLETBL] ([role_id])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_ROLE]
GO
ALTER TABLE [dbo].[TEAM]  WITH CHECK ADD  CONSTRAINT [FK_Team_Deparment] FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENT] ([department_id])
GO
ALTER TABLE [dbo].[TEAM] CHECK CONSTRAINT [FK_Team_Deparment]
GO
ALTER TABLE [dbo].[TEAM_MEMBER_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_EMPLOYEE_1] FOREIGN KEY([team_id])
REFERENCES [dbo].[TEAM] ([team_id])
GO
ALTER TABLE [dbo].[TEAM_MEMBER_MANAGEMENT] CHECK CONSTRAINT [FK_TEAM_EMPLOYEE_1]
GO
ALTER TABLE [dbo].[TEAM_MEMBER_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_EMPLOYEE_2] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEE] ([employee_id])
GO
ALTER TABLE [dbo].[TEAM_MEMBER_MANAGEMENT] CHECK CONSTRAINT [FK_TEAM_EMPLOYEE_2]
GO
